*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Salidas de compilacion por modulo
app/build/

# Credenciales/firma (para cuando exista PASO 3)
*.jks
*.keystore
keystore.properties
.env
*.env
